.frame-child26,
.frame-child27,
.frame-child28 {
  height: 12px;
  width: 12px;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-darkolivegreen-100);
}
.frame-child27,
.frame-child28 {
  background-color: var(--color-silver-300);
}
.ellipse-parent15,
.frame-wrapper53 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.ellipse-parent15 {
  height: 9px;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
  gap: var(--gap-11xl);
}
.frame-wrapper53 {
  align-self: stretch;
  justify-content: center;
  padding: 0 var(--padding-xl) 0 var(--padding-11xl);
}
.find-more-experts {
  height: 62px;
  position: relative;
  font-size: var(--font-size-5xl);
  letter-spacing: -0.01em;
  line-height: 58px;
  font-weight: 500;
  font-family: var(--font-roboto);
  color: var(--color-darkolivegreen-100);
  text-align: left;
  display: inline-block;
}
.chevron-right-icon {
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.chevron-right-wrapper,
.find-more-experts-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-lgi) 0 0;
}
.find-more-experts-parent {
  cursor: pointer;
  border: 1px solid var(--color-darkolivegreen-100);
  padding: 0 var(--padding-5xl);
  background-color: var(--color-gainsboro-200);
  border-radius: var(--br-6xs);
  overflow: hidden;
  flex-direction: row;
  gap: var(--gap-11xs);
}
.frame-parent50 {
  width: 276px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-24xl);
}
.frame-wrapper52 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-8xl) 0 var(--padding-xl);
}
@media screen and (max-width: 450px) {
  .find-more-experts {
    font-size: var(--font-size-lgi);
    line-height: 46px;
  }
  .frame-parent50 {
    gap: var(--gap-2xl);
  }
}
